**data/
**tags/
**maps/
**.lnk
**.log
**__pycache__/
**.dll
**.cfg
**.ini
**.ico
mek_config/

# Include the init file in lib but exclude the lib folder.
!mek_lib/
mek_lib/*
!mek_lib/__init__.py
